version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - database

  database:
    image: mongo:7-jammy
    environment:
      - MONGO_INITDB_DATABASE=hackstack
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
